<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="LogFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
			layout="${longdate}|${uppercase:${level}}|detail: ${message}" />

		<target name="LogDatabase" xsi:type="Database"
			dbProvider="Npgsql.NpgsqlConnection, Npgsql"
			connectionString="Server=localhost;Port=5432;Database=fixture_management;User Id=postgres;Password=1244;">

			<commandText>
				INSERT INTO public.logs (
				method_name, detail, level
				) VALUES (
				@methodName, @detail, @level
				);
			</commandText>

			<parameter name="@methodName" layout="${method-name}" />
			<parameter name="@detail" layout="${message}" />
			<parameter name="@level" layout="${uppercase:${level}}" />

		</target>
	</targets>

	<rules>
		<logger name="LogFile" minlevel="Trace" writeTo="LogFile" />
		<logger name="LogDatabase" minlevel="Trace" writeTo="LogDatabase" />
	</rules>
</nlog>